*~
*.elc
server/
anything-c-adaptive-history
elisp/win-curl/
ac-comphist.dat
history
recentf
elpa/archives/gnu/archive-contents
elpa/archives/gnu/archive-contents.signed
elpa/archives/marmalade/archive-contents
elpa/archives/melpa/archive-contents
elpa/archives/org